@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 205 0% 100%;
    --foreground: 205 0% 10%;
    --card: 205 0% 100%;
    --card-foreground: 205 0% 15%;
    --popover: 205 0% 100%;
    --popover-foreground: 205 95% 10%;
    --primary: 205 81.6% 63.7%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 205 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 243 10% 95%;
    --muted-foreground: 205 0% 40%;
    --accent: 243 10% 90%;
    --accent-foreground: 205 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 205 0% 100%;
    --border: 205 20% 82%;
    --input: 205 20% 50%;
    --ring: 205 88.7% 45.3%;
    --radius: 0.8rem;
    --chart-1: 206 82% 45%;
    --chart-2: 26 82% 45%;
    --chart-3: 206 82% 54%;
    --chart-4: 26 82% 36%;
    --chart-5: 296 65% 50%;
    --sidebar-background: 205, 0%, 95%;
    --sidebar-foreground: 205, 0%, 9%;
    --sidebar-primary: 205, 82%, 57%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 243, 10%, 86%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 205, 20%, 78%;
    --sidebar-ring: 195, 98%, 45%;
  }

  .dark {
    --background: 205 10% 10%;
    --foreground: 205 0% 100%;
    --card: 205 0% 10%;
    --card-foreground: 205 0% 100%;
    --popover: 205 10% 5%;
    --popover-foreground: 205 0% 100%;
    --primary: 205 81.6% 63.7%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 205 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 243 10% 25%;
    --muted-foreground: 205 0% 65%;
    --accent: 243 10% 25%;
    --accent-foreground: 205 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 205 0% 100%;
    --border: 205 20% 50%;
    --input: 205 20% 50%;
    --ring: 205 88.7% 45.3%;
    --radius: 0.8rem;
    --chart-1: 206 82% 45%;
    --chart-2: 26 82% 45%;
    --chart-3: 206 82% 54%;
    --chart-4: 26 82% 36%;
    --chart-5: 296 65% 50%;
    --sidebar-background: 205, 10%, 13%;
    --sidebar-foreground: 205, 0%, 100%;
    --sidebar-primary: 205, 82%, 51%;
    --sidebar-primary-foreground: 0, 0%, 0%;
    --sidebar-accent: 243, 10%, 21%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 205, 20%, 48%;
    --sidebar-ring: 195, 98%, 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
